* {
    margin: 0;
}

header {
    background: rgba(229, 84, 115, 0.10);
    background-size: 100% auto;
}

.banner {
    display: flex;
}

.banner_text_btn {
    margin-left: 125px;
    margin-top: 50px;
}

#banner_headline {
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#banner_description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0 25px;
}

.banner_btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

.banner_img {
    margin-top: 25px;
    padding-left: 50px;
}

/* Second Section */

#featured_flower {
    margin-top: 125px;
    background-size: 100% auto;
}

.feature_flower_head {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feature_flower_description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    width: 600px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-left: 350px;
    padding-top: 5px;
}

#featured_flower_bg {
    display: flex;
    padding-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.flower06 {
    width: 300px;
    height: 385px;
    margin-left: 40px;
    margin-top: 100px;
}

.flower_radious_background_01 {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 400px;
    height: 485px;
    margin-left: 30px;
}

.flower_radious_background_02 {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 400px;
    height: 485px;
    margin-left: 30px;
}

.flower05 {
    margin-left: 25px;
    margin-top: 85px;
}

.flower_radious_background_03 {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 400px;
    height: 485px;
    margin-left: 30px;
}

.flower07 {
    width: 325px;
    height: 420px;
    margin-left: 40px;
    margin-top: 65px;
}

.flower_name {
    color: #272727;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/*  section four */

#hot_deal {
    margin-top: 100px;
    background: rgba(229, 84, 115, 0.05)
}

.hot_deal_description_btn_img {
    display: flex;
    margin-left: 125px;
    margin-top: 50px;
    text-align: center;
}

.hot_deal_description_btn {
    padding-top: 200px;
}

.hot_deal_h2 {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 24px;
}

.hot_deal_off {
    color: #E55473;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hot_deal_pra {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

.hot_deal_btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

.hot_deal_img {
    padding: 50px 0px 150px 200px;
}

/*  section four */

#instagram_img {
    margin-top: 100px;
}

.insta_head_text {
    text-align: center;
    padding-bottom: 50px;
}

.insta_head {
    padding-bottom: 25px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta_pra {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.img_rec {
    width: 300px;
    height: 325px;
    margin-left: 15px;
    margin-right: 15px;
}

/* section six */

#email_submission_bg {
    background-image: url("Flower Asset/Rectangle 9.png");
    height: 449px;
    margin-top: 100px;
    background-position: center;
}

#email_submission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

#input_id {
    width: 400px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
}

.subscribe_btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    margin-left: 5px;
    padding: 15px 35px;
}

.deals_latest {
    padding-top: 150px;
    text-align: center;
}

.deals_h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.coupon_shopping {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
}

footer {
    margin-top: 100px;
    background: #111010;
    height: 449px;
    text-align: center;
}

.footer_description {
    padding-top: 128px;
}

.footer_flower {
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer_shop {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer_pra {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 350px;
    padding-top: 20px;
}

.footer_copy_right {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}